<h3> Component Detail-User (Component home's brother) </h3>
<h4> Here we view Service User object </h4>
<form>

  Name <input name="name" 
         type="text" 
         [(ngModel)]="user.name"
         (change)="changeServiceName()"/>

  <br/>
  <br/>

  Surname <input name="surname" 
         type="text" 
         [(ngModel)]="user.surname"
         (change)="changeServiceSurname()"/>

</form>
<p>
  Detalle User
  <br/>
  <br/>
  Name: <b>{{ user.name }}</b>
  <br/>
  <br/>
  Surname: <b>{{ user.surname }}</b>
</p>